<nav class="top-bar" role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a target="_self" href='https://nflx-originals.herokuapp.com'>NFLX Originals Viewer</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li><input id="searchText" placeholder="filter by any text..." ng-model="vm.searchText" /></li>
      <li><button type="button" class="button" ng-click="randomize()">Randomize</button></li>
      <li><a target="_blank" href="https://www.netflix.com">Netflix</a></li>
      <li><a target="_blank" href="https://github.com/rickarubio/nflx_originals">Github Repo</a></li>
      <li><a target="_blank" href="https://www.linkedin.com/in/rickarubio/">Rick's LinkedIn</a></li>
    </ul>
  </section>
</nav>
