<table class="hover originals-table">
  <thead>
  <tr>
    <th>box_art</th>
    <th><a href="" ng-click="vm.orderByField='title'; vm.reverseSort = !vm.reverseSort">
        <span ng-show="vm.orderByField == 'title' && !vm.reverseSort" class="fa fa-caret-up"></span>
        <span ng-show="vm.orderByField == 'title' && vm.reverseSort" class="fa fa-caret-down"></span>
        title</a></th>
    <th><a href="" ng-click="vm.orderByField='release_year'; vm.reverseSort=!vm.reverseSort">
        <span ng-show="vm.orderByField == 'release_year' && !vm.reverseSort" class="fa fa-caret-up"></span>
        <span ng-show="vm.orderByField == 'release_year' && vm.reverseSort" class="fa fa-caret-down"></span>
        release_year</a></th>
    <th><a href="" ng-click="vm.orderByField='maturity'; vm.reverseSort=!vm.reverseSort">
        <span ng-show="vm.orderByField == 'maturity' && !vm.reverseSort" class="fa fa-caret-up"></span>
        <span ng-show="vm.orderByField == 'maturity' && vm.reverseSort" class="fa fa-caret-down"></span>
        maturity</a></th>
    <th><a href="" ng-click="vm.orderByField='is_streaming'; vm.reverseSort=!vm.reverseSort">
        <span ng-show="vm.orderByField == 'is_streaming' && !vm.reverseSort" class="fa fa-caret-up"></span>
        <span ng-show="vm.orderByField == 'is_streaming' && vm.reverseSort" class="fa fa-caret-down"></span>
        is_streaming?</a></th>
  </tr>
  </thead>
  <tbody>
    <tr originals-row ng-repeat="original in vm.originals|orderBy:vm.orderByField:vm.reverseSort" ng-class="{'faded': !original.is_streaming}"></tr>
  </tbody>
</table>
